page-bill {
  .card-md h1 {
    margin: 7% 0 0px;
    font-size: 19px;
    font-weight: normal;
    /* line-height: 1.5; */
    color: #222;
}
.card-ios h1 {
  margin: 7% 0 0px;
  font-size: 19px;
  font-weight: normal;
  /* line-height: 1.5; */
  color: #222;
}

.card-md h3{
  font-size: 18px;
}

.card-ios h3{
  font-size: 18px;
}

}
