page-scan {
  .toolbar-background-md {
    border-color: #000 !important;
    background: #000 !important;
  }

  .toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #fff !important;
   }

  .toolbar-background-ios {
    border-color: #000 !important;
    background: #000 !important;
  }

  .toolbar-title-ios {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #fff !important;
  }
}
