<ion-header style="background-color:#000;">
    <ion-navbar hideBackButton>
      <ion-row>
          <ion-col col-1 (click)="back()">
            <ion-icon style="color:white;    font-size: 28px !important;" name="md-arrow-forward"></ion-icon>
          </ion-col>
          <ion-col col-11 style="text-align: center;">
              <ion-title style="margin-top: -4px;color:white;   ">{{"orders"|translate}}</ion-title>
          </ion-col>

      </ion-row>

    </ion-navbar>
    <ion-segment [(ngModel)]="requestType" style="padding: 16px;">
      <ion-segment-button value="current">
          {{"current"|translate}}
      </ion-segment-button>
      <ion-segment-button value="closed">
          {{"closed"|translate}}
      </ion-segment-button>
    </ion-segment>
</ion-header>

<ion-content padding style="background-color:#000" class="card-background-page">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div [ngSwitch]="requestType" >
        <div *ngSwitchCase="'current'">
            <div *ngIf="currentRequests.length==0"  style="color: white;text-align: center;font-size: 20px;margin-top: 20%;">
              {{"there are not currentRequests"|translate}}
            </div>
            <div  *ngFor="let order of currentRequests" style="border-radius: 10px; position: relative;text-align: center;color: white;">
              <img onError="src = 'assets/imgs/Group 1.png'"  tappable (click)="orderDetails(order.img)"style="width:100%;    height: 240px;" src="http://myfuelly.com/public/uploads/{{order.station_img}}">
              <div style="position: absolute;bottom: 19%;right: 5%;font-size: 16px;">
                {{"Station"|translate}}{{order.station_name}}
                </div>

              <div style="position: absolute;bottom: 19%;left: 5%;font-size: 16px;text-align: right;">
                {{ "LitersNumber"|translate}} {{order.liters}}
              </div>
              <div style="position: absolute;bottom: 4%;left: 5%;font-size: 18px;">
              {{"amount"|translate}} : {{order.price}}
              </div>
            </div>
        </div>

        <div *ngSwitchCase="'closed'">
          <div *ngIf="closedRequests.length==0"  style="color: white;text-align: center;font-size: 20px;margin-top: 20%;">
            {{"there are not closedRequests"|translate}}
          </div>
          <div  *ngFor="let order of closedRequests" style="border-radius: 10px; position: relative;text-align: center;color: white;">
            <img onError="src = 'assets/imgs/Group 1.png'"  tappable (click)="orderDetails(order.img)"style="width:100%;    height: 240px;" src="http://myfuelly.com/public/uploads/{{order.station_img}}">
            <div style="position: absolute;bottom: 19%;right: 5%;font-size: 16px;">
              {{"Station"|translate}}{{order.station_name}}
              </div>

            <div style="position: absolute;bottom: 19%;left: 5%;font-size: 16px;text-align: right;">
              {{ "LitersNumber"|translate}} {{order.liters}}
            </div>
            <div style="position: absolute;bottom: 4%;left: 5%;font-size: 18px;">
            {{"amount"|translate}} : {{order.price}}
            </div>
          </div>
        </div>
    </div>

</ion-content>
